<div>
  <form
    [formGroup]="myForm"
    (ngSubmit)="onSubmit()"
    class="p-4 border bg-light rounded w-25 mx-auto"
  >
    <div class="mb-3">
      <label for="username">نام کاربری:</label>
      <input id="username" formControlName="username" class="form-control" />
      <div
        *ngIf="myForm.get('username')?.invalid && myForm.get('username')?.touched"
        class="text-danger"
      >
        نام کاربری خود را وارد کنید
      </div>
    </div>

    <div class="mb-3">
      <label for="password">رمز عبور:</label>
      <input id="password" formControlName="password" class="form-control" type="password" />
      <div
        *ngIf="myForm.get('password')?.invalid && myForm.get('password')?.touched"
        class="text-danger"
      >
        رمز عبور را وارد کنید
      </div>
    </div>

    <button type="submit" class="btn btn-primary w-50" [disabled]="myForm.invalid">ارسال</button>
  </form>
</div>
