<div>
  <form
    [formGroup]="myForm"
    (ngSubmit)="onSubmit()"
    class="p-4 border bg-light rounded w-25 mx-auto"
  >
    <!-- <div class="head-form p-5 bg-danger"></div> -->
    <div class="mb-3">
      <label for="username">UserName:</label>
      <input id="username" formControlName="username" class="form-control" />
      <div
        *ngIf="myForm.get('username')?.invalid && myForm.get('username')?.touched"
        class="text-danger"
      >
        enter your username
      </div>
    </div>

    <div class="mb-3">
      <label for="password">Password:</label>
      <input id="password" formControlName="password" class="form-control" type="password" />
      <div
        *ngIf="myForm.get('password')?.invalid && myForm.get('password')?.touched"
        class="text-danger"
      >
        enter your password
      </div>
    </div>
    <!-- <div class="mb-3">
    <label for="lastName">نام خانوادگی:</label>
    <input type="lastName" formControlName="lastName" class="form-control">
    <div *ngIf="myForm.get('lastName')?.invalid && myForm.get('lastName')?.touched" class="text-danger">نام خانوادگی الزامی است.</div>

  </div> -->

    <!-- <div class="mb-3">
    <label for="email">ایمیل:</label>
    <input id="email" formControlName="email" class="form-control">
    <div *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched" class="text-danger">
      ایمیل معتبر وارد کنید.
    </div>
  </div>
  <div class="mb-3">
    <label for="phoneNumber">شماره موبایل:</label>
    <input type="text" id="phoneNumber" formControlName="phoneNumber" class="form-control">
    <div *ngIf="myForm.get('phoneNumber')?.invalid && myForm.get('phoneNumber')?.touched" class="text-danger">شماره موبایل معتبر نیست</div>
  </div> -->

    <button type="submit" class="btn btn-primary w-50" [disabled]="myForm.invalid">ارسال</button>
  </form>
</div>
