<div class="container my-4 grid">
  <div class="card shadow-sm">
    <div class="card-header bg-success text-center text-white">
      <h5 class="mb-0">{{ chartTitle }}</h5>
    </div>

    <div class="card-body">
      <div class="d-flex justify-content-center">
        <canvas
          baseChart
          [data]="barChartData"
          [type]="barChartType"
          [options]="barChartOptions"
          class="w-50 h-75"
        >
        </canvas>
      </div>
    </div>

    <div class="card-footer text-center" *ngIf="barChartData.labels?.length === 0">
      <span class="text-muted">داده‌ای برای نمایش وجود ندارد.</span>
    </div>
  </div>
</div>
