footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: rgb(241, 234, 202);
  color: rgb(179, 110, 21);
  font-weight: bold;
}
