<div *ngIf="loading" class="text-center my-3">در حال بارگذاری...</div>

<div class="w-75 mx-auto mt-3 d-flex justify-content-between">
  <input
    type="text"
    class="form-control w-25"
    placeholder="جستجو..."
    [(ngModel)]="searchText"
    (input)="onSearch()"
  />
  <button class="btn btn-success" (click)="onAddUser()">افزودن کاربر جدید</button>
</div>

<app-generic-grid
  *ngIf="!loading"
  [data]="users"
  [columns]="columns"
  [totalCount]="total"
  [pageCount]="page"
  [perPage]="perPage"
  (pageChange)="onPageChange($event.pageIndex + 1)"
  (edit)="onEdit($event)"
  (delete)="onDelete($event)"
>
</app-generic-grid>

<div *ngIf="!loading && users.length === 0" class="text-center mt-3">هیچ کاربری یافت نشد.</div>
