.navbar {
  justify-content: center;
  align-items: center;
  background-color: rgb(234, 255, 255);
}


.nav-item.active .nav-link {
  color: #fff !important;
  background-color: #1352a5 !important;
  border-radius: 6px;
  padding: 6px 12px;
}
